[class^="cal-pointer-box"] {
  height: 10px;
  width: 20px;
  z-index: 2;
  position: absolute;
  top: 60px;
  box-sizing: border-box;
}

[class$="checkin"] {
  left: 7.5%;
}

[class$="checkout"] {
  left: 61%;
}

.calendar {
  z-index: 1;
  height: 354px;
  width: 321px;
  position: absolute;
  background-color: #fff;
  top: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid #dadada;
  box-sizing: border-box;
  overflow: hidden;

  .calendar-top {
    height: 27px;
    width: 86.3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 9px;

    [class^="month-select"] {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 34px;
      width: 40px;
      border: 1px solid #dadada;
      border-radius: 3px;
      background-color: #fff;
      z-index: 1;
      box-sizing: border-box;
    }

    .month-display {
      height: 50px;
      width: 202px;
      font-size: 18px;
      font-weight: 200;
      text-align: center;
      line-height: 2;
      color: #565a5c;
      position: relative;
      left: 0%;
      transform: translateX(0px);
    }
  }

  .calendar-week {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 19px;
    width: 90%;

    .cal-day {
      height: 20px;
      width: 39px;
      line-height: 4;
      font-size: 11px;
      font-weight: 400;
      text-align: center;
      color: #777777;
      box-sizing: border-box;
      left: 9px;
    }
  }

  .calendar-grid {
    height: 200px;
    width: 100%;
    display: grid;
    grid-template-columns: 39px 39px 39px 39px 39px 39px 39px;
    grid-template-rows: 39px 39px 39px 39px 39px;
    position: relative;
    left: 7.3%;

    [class^="calendar-day"] {
      text-align: center;
      line-height: 3;
      border-left: 1px solid #dadada;
      border-bottom: 1px solid #dadada;
      font-size: 14px;
      color: #565a5c;
      padding: none;
      margin: none;
      box-sizing: border-box;
    }

    .calendar-day-6 {
      border-right: 1px solid #dadada;
    }

    [id^="first-week"] {
      border-top: 1px solid #dadada;
    }

    [id$="first-row"] {
      margin-bottom: -1px;
    }

    #last-day {
      border-right: 1px solid #dadada;
      margin-right: -1px;
    }

    .calendar-day-zero {
      color: transparent;
      border: none;
    }
  }
  .calendar-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50px;
    width: 85%;
    font-size: 11px;
    line-height: 1.5;
    color: #565a5c;
  }
}
