.spot-show-main {
  height: 2000px;
  width: 100%;

  .spot-hero-container {
    position: relative;
    width: 100%;
    height: 551px;
    overflow: hidden;

    .spot-hero {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .spot-show-details {
    position: relative;
    top: 0;
    left: 283px;
    width: 82%;
    height: 100%;
    font-size: 15px;

    .spot-show-nav {
      display: flex;
      position: relative;
      width: 595px;
      border-bottom: 1px solid #dadada;

      .spot-show-nav-list {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 1px;
        width: 300px;
        justify-content: space-between;

        // background-color: lightsalmon;

        .spot-show-nav-list-item {
          padding: 0px;
          margin: 0;
        }
      }
    }

    .spot-show-description {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-top: 30px;
      width: 46%;
      height: 150px;
      color: #424242;

      .spot-show-info-container {
        width: 85%;
        flex-direction: column;

        .spot-show-type {
          font-size: 11px;
          font-weight: 600;
          font-stretch: extra-expanded;
        }

        .spot-show-headline {
          font-size: 35px;
          font-weight: 600;
          margin-left: -2px;
          width: 80%;
        }

        .spot-show-location {
          font-size: 17px;
          font-weight: lighter;
          margin-top: 5px;
        }

        .spot-show-quick-key {
          display: flex;
          margin-top: 20px;

          [class^="spot-show-key-item"] {
            font-size: 16px;
            font-weight: 100;
            margin-right: 20px;

            svg {
              margin-right: 10px;
              font-size: 14px;
            }
          }
        }
      }

      .spot-show-host-avatar {
        width: 60px;
        height: 60px;
        margin-left: 9px;
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 60px;
        border: 1px solid #dadada;
        font-size: 60px;
        line-height: 1;
        overflow: hidden;

        img {
          width: auto;
          height: 100%;
        }
      }
    }

    .spot-show-section-head {
      font-size: 19px;
      font-weight: 400;
      color: #353535eb;
      margin-bottom: 15px;
    }

    .spot-show-blurb {
      width: 46%;
      font-size: 17px;
      line-height: 1.3;
      font-weight: 100;
      color: #444444bd;
    }

    .spot-show-divider {
      position: relative;
      box-sizing: border-box;
      width: 45%;
      top: 0;
      left: 0;
      margin-top: 25px;
      margin-bottom: 25px;
      border-bottom: 1px solid #DBDBDB !important;
    }

    .spot-show-amenities {
      display: grid;
      grid-template-columns: 40px 280px 40px 280px;
      grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px;

      .spot-show-amenity {
        display: flex;
        flex-direction: row;
        font-size: 17px;
        font-weight: 100;
        color: #444444;
      }

      .amenity-icon {
        font-size: 20px;
        color: #444444;
        text-align: center;
        text-indent: -20px;
      }
    }
  }

  .spot-show-book-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 376px;
    height: 350px;
    border: 1px solid #dadada;
    background-color: #fff;
    align-self: flex-end;
    top: 24px;
    right: 21.35%;
    box-sizing: border-box;
  }

  .book-box-brief {
    width: 100%;
    .book-box-brief-price {
      padding: 25px 0 0 25px;

      .price-nums {
        font-weight: 500;
        font-size: 21px;
        color: #565a5c;
      }

      .price-text {
        font-weight: 400;
        font-size: 15px;
        color: #565a5c;
      }
    }

    .book-box-brief-rating {
      padding: 5px 0 0 25px;
      font-size: 9px;
      color: #2a8d94;
    }
  }

  .book-box-divider {
    position: relative;
    box-sizing: border-box;
    width: 86%;
    top: 5%;
    left: 25px;
    border-bottom: 1px solid #DBDBDB !important;
  }

  .book-box-options {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    top: 30px;
    left: 25px;
    height: 224px;
    width: 86%;

    [class^="book-box-text-"] {
      height: 20px;
      width: 100%;
      font-size: 11.5px;
      line-height: 2;
    }

    .book-box-text-dates {

    }

    .book-box-date-selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 38px;
      width: 100%;
      border: 1px solid #dadada;
      z-index: 1;

      [class^="check-"] {
        height: 70%;
        line-height: 1.5;
        text-indent: 6px;
        font-size: 18px;
        font-weight: 100;
        width: 130px;
      }

      [class^="input-check-"] {
        position: absolute;
        height: 12%;
        width: 40%;
        line-height: 1.5;
        text-indent: 6px;
        font-size: 18px !important;
        font-weight: 100;
        border-radius: 3px;
      }

      [class$="aqua"] {
        background-color: #8eebe3;
        color: #19838d !important;
      }

      [class$="aqua"]::placeholder {
        background-color: #8eebe3;
        color: #19838d !important;
      }

      .check-in-selector {
        margin-left: 10px;

        .input-check-in {
          top: 33px;
          left: 11px;
        }
      }

      .date-selector-arrow {
        font-size: 40px;

        .arrow {
          position: absolute;
          top: 33px;
          left: 141px;
          height: 39px;
        }
      }

      .check-out-selector {
        margin-right: 10px;

        .input-check-out {
          top: 33px;
          right: 12px;
        }
      }
    }

    .book-box-text-guests {

    }

    .book-box-guests-selector {
      height: 40px;
      width: 100%;
      background-color: lightblue;
      border: 1px solid #dadada;
    }

    .book-box-book-button {
      height: 60px;
      width: 100%;
      background-color: lightblue;
      border: 1px solid #dadada;
    }

    .book-box-text-bottom {
      text-align: center;
    }
  }

  .fixbox {
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 24px;
    right: 17.75%;
    width: 376px;
  }
}

.strike {
  text-decoration: line-through;
  color: #44444494 !important;
}

.hidden {
  display: none !important;
}
//
// .last-month {
//   background-color: aliceblue;
// }
//
// .this-month {
//   background-color: aliceblue;
// }
//
// .next-month {
//   background-color: aliceblue;
// }
