// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-main {

}

.spot-index-main {
  // column-count: 3;
  column-gap: 1em;
  margin-top: 80px;
  padding-left: 10px;
  position: absolute;
  z-index: 1;
  width: 50%;

  li {
    margin: 5px;
    padding-left: 5px;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;

    .nested-spot-list {
      padding: 3px;
      border: 1px solid black;

    }
  }
}

@media only screen and (min-width: 1000px) {
  .spot-index-main {
    column-count: 2;
  }
}

@media only screen and (min-width: 1300px) {
  .spot-index-main {
    column-count: 3;
  }
}

@media only screen and (min-width: 1600px) {
  .spot-index-main {
    column-count: 4;
  }
}
//
