// Place all the styles related to the api/spots controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


 .map-wrap #map-container {
   position: fixed !important;
   margin-left: 0;
   padding-left: 0;
   top: 145px;
   bottom: 0px !important;
   right: 0px !important;
   height: 85%;
   width: 34%;
   max-width: 666px;
 }

.spot-index-main {
  position: absolute;
  box-sizing: border-box;
  left: 24px;
  column-gap: 1em;
  margin-top: 169px;
  width: 65%;
  width: 100%;
  max-width: 1482px;


  .spot-index-column {
    position: absolute;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1245px;

    .spot-index-inner-column {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      width: 31%;
      height: 100%;
      margin-right: 15px;

      .spot-item {
        display: inline-block;
        box-sizing: border-box;
        min-width: 100%;
        height: 215px;
        border: 1px solid lightgray;
        border-radius: 3px;
        background-size: cover;
        align-self: auto;
        overflow: hidden;

        .nested-spot-item {
          font-family: 'Circular', sans-serif !important;

          .nested-spot-list {
            padding-top: 10px;
            border: 1px solid black;
          }
        }
      }

      .spot-item-info {
        display: flex;
        flex-direction: column;

        .item-info-row-1 {
          font-size: 12px;
          margin-top: 8px;
          font-weight: bold;
        }

        .item-info-row-2 {
          font-size: 17px;
          margin-top: 3px;
          font-weight: bold;
        }

        .item-info-row-3 {
          font-size: 15px;
          margin-top: 3px;
          font-weight: 100;
        }

        .item-info-row-4 {
          font-size: 13px;
          margin-top: 5px;
          display: flex;
          flex-direction: row;
          margin-bottom: 23px;

          .item-info-stars {
            font-size: 8px;
            margin-top: 4px;
            color: #2a8d94;
          }

          .item-info-review-count {
            font-size: 12px;
            margin-left: 3px;
            margin-top: 1px;
          }

          .item-info-superletter {
            font-size: 12px;
            margin-left: 7px;
            margin-top: 1px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1000px) {
  .spot-index-main {
    column-count: 2;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1300px) {
  .spot-index-main {
    column-count: 3
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1500px) {
  .spot-index-column {
    width: 65% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1580px) {
  .spot-index-column {
    width: 70% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1590px) {
  .spot-index-column {
    width: 70% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1700px) {
  .spot-index-column {
    width: 80% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1800px) {
  .spot-index-column {
    width: 84% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}

@media only screen and (min-width: 1900px) {
  .spot-index-column {
    width: 89% !important;
  }

  .spot-index-inner-column {
    width: 30% !important;
  }

  .spot-item {
    min-width: 100% !important;
  }
}
