.spot-show-main {
  height: 2000px;
  width: 100%;

  .spot-hero-container {
    position: relative;
    width: 100%;
    height: 551px;
    overflow: hidden;

    .spot-hero {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .spot-show-details {
    position: relative;
    top: 0;
    left: 283px;
    width: 82%;
    height: 100%;
    font-size: 15px;

    .spot-show-nav {
      display: flex;
      position: relative;
      width: 595px;
      border-bottom: 1px solid #dadada;

      .spot-show-nav-list {
        display: flex;
        flex-direction: row;
        padding-top: 15px;
        padding-bottom: 17px;
        padding-left: 1px;
        width: 300px;
        justify-content: space-between;

        // background-color: lightsalmon;

        .spot-show-nav-list-item {
          padding: 0px;
          margin: 0;
        }
      }
    }

    .spot-show-description {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding-top: 30px;
      width: 46%;
      height: 200px;
      color: #424242;

      .spot-show-info-container {
        width: 85%;
        flex-direction: column;

        .spot-show-type {
          font-size: 11px;
          font-weight: 600;
          font-stretch: extra-expanded;
        }

        .spot-show-headline {
          font-size: 35px;
          font-weight: 600;
          margin-left: -2px;
          width: 80%;
        }

        .spot-show-location {
          font-size: 17px;
          font-weight: lighter;
        }

        .spot-show-quick-key {
          display: flex;
          margin-top: 5px;

          [class^="spot-show-key-item"] {
            font-size: 16px;
            font-weight: 100;
            margin-right: 20px;

            svg {
              margin-right: 10px;
              font-size: 14px;
            }
          }
        }
      }

      .spot-show-host-avatar {
        width: 60px;
        height: 60px;
        margin-left: 9px;
        margin-top: 20px;
        box-sizing: border-box;
        border-radius: 60px;
        font-size: 60px;
        line-height: 1;
        overflow: hidden;
      }
    }
  }

  .spot-show-book-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 376px;
    height: 350px;
    border: 1px solid #dadada;
    background-color: #fff;
    align-self: flex-end;
    top: 24px;
    right: 21.35%;
    box-sizing: border-box;
  }

  .book-box-brief {
    width: 100%;
    .book-box-brief-price {
      padding: 25px 0 0 25px;

      .price-nums {
        font-weight: 500;
        font-size: 21px;
        color: #545454;
      }

      .price-text {
        font-weight: 400;
        font-size: 15px;
        color: #545454;
      }
    }

    .book-box-brief-rating {
      padding: 5px 0 0 25px;
      font-size: 9px;
      color: #2a8d94;
    }
  }

  .book-box-divider {
    position: relative;
    box-sizing: border-box;
    width: 86%;
    top: 5%;
    left: 25px;
    border-bottom: 1px solid #DBDBDB !important;
  }

  .fixbox {
    position: fixed;
    top: 24px;
    right: 17.75%;
    width: 376px;
    display: flex;
    flex-direction: column;
  }
}
