
.main-header {
  z-index: 2;
  position: fixed;
  display: inline-flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-bottom: 1px solid  #e4e4e4;
  align-items: center;
  height: 81px;
  width: 100%;
  background: #fff;
  color: #484848;
  font-family: 'Circular', sans-serif;
  font-weight: book;
  font-size: 13px;

  h1 {
    padding: 5px;
    justify-self: flex-start;
  }

  .header-right {
    display: grid;
    grid-auto-columns: max-content;
    justify-self: self-end;
    padding: 5px;

  .member-icon-box {
    position: fixed;
    right: 16px;
    top: 25px;
    height: 40px;
    width: 40px;

    .fa-user-circle {
      position: fixed;
      right: 20px;
      top: 24px;
      height: 30px;
      width: 30px;
      border: 1px solid #bfbfbf;
      border-radius: 30px;
      cursor: pointer;
    }
  }

  .member-icon-box:hover {
    border-bottom: 2px solid #717171;
  }

    .header-member-menu {
      position: absolute;
      top: 81px;
      box-sizing: border-box;
      border: 1px solid #b7b7b7;
      right: 8px;
      z-index: 4;
      display: block;
      background: white;
      height: auto;
      width: 284px;

      .menu-list {
        width: 90%;


        .menu-item {
          padding: 17px;
          width: 90%;
          border-bottom: 1px solid #b7b7b7;
          cursor: pointer;
        }
      }
    }


    .header-nav-links {
      vertical-align: sub;

      button {
        margin-right: 25px;

      }
    }
  }
}

.search-filters-bar {
  z-index: 1;
  position: fixed;
  top: 80px;
  border-bottom: 1px solid #e4e4e4;
  box-sizing: border-box;
  height: 65px;
  width: 100%;
  background: #fff;
  color: #484848;
}

.logo-box {
  z-index: 3;
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 22px;
  border: 1px solid #FA5C65;
  border-radius: 45px;
  background-color: #edfeff;

  .logo-gel {
    font-family: 'Mrs Sheppards', cursive !important;
    font-size: 42px;
    position: absolute;
    left: -3px;
    top: -8px;
    opacity: 37;
    color: #FA5C65;
  }

  .logo {
    font-family: 'Mrs Sheppards', cursive !important;
    font-size: 40px;
    color: white;
    z-index: 3;
    position: absolute;
    left: -2px;
    top: -8px;
  }
}
