// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  position: fixed;
  z-index: 3;
  display: inline-flex;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  // font-stretch: ultra-condensed;
  letter-spacing: -0.02em;
  font-stretch: ultra-condensed;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  width: 100%;
  background: #fff;
  border: 1px solid  #211f1f;
  // box-shadow: 0px -7px 20px 4px #211f1f;
  font-family: inherit;
  font-weight: 500;

  h1 {
    padding: 5px;
    justify-self: flex-start;
  }

  .header-right {
    display: grid;
    grid-auto-columns: max-content;
    justify-self: self-end;
    padding: 5px;

    .header-nav-links {
      button {
        padding: 5px;

      }
    }
  }
}
