.spot-form-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.new-spot-inner {
  position: fixed;
  display: flow-root;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-evenly;
  height: 500px;
  width: 500px;
  top: 14.5%;
  left: 15%;
  color: #484848;

  #new-spot-search-1 {
    border: 1px solid black;
    padding: 10px;
    width: 200px;
    height: 40px;
  }

  .new-spot-headline {
    font-size: 30px;
    padding-bottom: 30px;
  }

  .new-spot-step {
    font-size: 13px;
    padding-bottom: 9px;
  }

  .new-spot-question {
    font-size: 25px;
    padding-bottom: 16px;
  }

  .new-spot-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: 17%;
    width: 78%;

    .select-spot-type {
      box-sizing: border-box;
      height: 38px;
      width: 48.5%;
      border-radius: 2px;
      background: #fff;
      color: #484848;
      padding: 9px;
      font-size: 15px;
      font-weight: 400;
      -webkit-appearance: none;
    }

    .select-occupancy {
      box-sizing: border-box;
      height: 38px;
      width: 48.5%;
      border-radius: 2px;
      background: #fff;
      color: #484848;
      padding: 9px;
      font-size: 15px;
      font-weight: 400;
      margin-left: 7px;
      -webkit-appearance: none;
    }

    .search-bar {
      height: 38px;
      margin-top: 6px;
      padding: 10px;
      box-sizing: border-box;
      width: 385px;
      box-shadow: none;
      border: 1px solid #969696;

      .search-input {
        font-size: 17px;
      }

      .search-bar-icon {
        display: none;
      }
    }
  }
}
